*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #dd1948;
    color: black;
    display: flex;
    justify-content:space-around;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    padding: 40px 0;
    font-size: 24px;
}


.escola{
    background-image: linear-gradient(#dd1948,#e9e34e);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px 0;
}


.escola-div-conteudo{
    width: 35%;
}

.titulo-principal {
    padding: 50px 0;
    font-size: 60px;
}

.estudante-imagem{
    width: 120px;
}


.estudante-div{
    text-align: center;
}

.estudante-titulo {
    text-align: center;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.rodape{
    background-color: wheat;
    text-align: center;
}

.rodape-imagem{
    height: 80px;
    text-align: center;
}